<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Fight!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
  <div class="jumbotron">
    <h1>WELCOME TO Fire Emblem Demo</h1>      
    <p>A Fire Emblem simulator demo, to try Levels and Weapons with Fighters</p>
  </div>
  <p th:text="${message0}"></p>
</div>


<div class="container">
<table class="table table-dark table-hover">
<tr>
	<td th:text="${message1}"></td> 
	<td th:text="${message2}"></td> 
</tr>
<tr>
	<td><img src="#" th:src="@{ ${warrior1url} }" width="250" height="250" /></td>
	<td><img src="#" th:src="@{ ${warrior2url} }" width="250" height="250" /></td>
</tr>
	<td><div class="progress">
  <div class="progress-bar" style="width:${warrior1porc}%">th:text="${warrior1porc}%</div>
</div></td>
	<td><div class="progress">
  <div class="progress-bar" style="width:${warrior2porc}%">th:text="${warrior2porc}%</div>
</div></td>
</table>
</div>

<div class="container">
<p th:text="${battlemessage0}"></p>
<p th:text="${battlemessage1}"></p>
<p th:text="${battlemessage2}"></p>
<p th:text="${battlemessage3}"></p>
</div>

<div class="container">
  <form th:action="@{/engage}" method="POST">
    <button type="submit" class="btn btn-primary">Continue</button>
  </form>
</div>

</body>
</html>