<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>First Warrior Selection</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
  <div class="jumbotron">
    <h1>Fire Emblem Demo</h1>      
    <p>A Fire Emblem simulator demo, to try Levels and Weapons with Fighters</p>
  </div>
  <p th:text="${message0}"></p>
  <p th:text="${message1}"></p>
  <p th:text="${message2}"></p>
</div>

<div class="container">
<table class="table table-dark table-hover">
<tr>
	<th>Name</th>
	<th>Rank</th>
	<th>Weapon</th>
	<th>Weapon Type</th>
	<th>Health</th>
	<th>Attack</th>
	<th>Defense</th>
</tr>
<tr th:each="warrior:${allWarriors}">
	<td th:text="${warrior.getName()}"></td> 
	<td th:text="${warrior.getLevel().getName()}"></td> 
	<td th:text="${warrior.getWeapon().getName()}"></td> 
	<td th:text="${warrior.getWeapon().getType()}"></td> 
	<td th:text="${warrior.getTotalHealth()}"></td>
	<td th:text="${warrior.getTotalDamage()}"></td>
	<td th:text="${warrior.getTotalDefense()}"></td>
	<td> <a class="btn btn-danger" th:href="@{/getwarrior2(id=${warrior.getIdFighter()})}">Choose</a> </td>
</tr>
</table>
</div>

</body>
</html>